data
node_modules
.editorconfig
.eslintignore
.eslintrc.json
.lintstagedrc.json
.DS_Store
coverage
*.md
!README*.md
.cache
**/*.spec.ts
**/*.test.ts
**/test/**
.dockerignore
.gitignore
.editorconfig
CHANGELOG.md
.git*
